@media (max-width: 1280px) {
    .element {
         font-size: 56px;
    }
}

@media (max-width: 600px) {
    .element {
        font-size: 56px;
    }
}

@media (max-width: 480px) {
    .element {
        font-size: 2rem;
    }
}
 
@media (max-width: 768px) {
    .element {
        font-size: 44px;
    }
}

@media (max-width: 980px) {
    .element {
        font-size: 44px;
    }
}

@media (max-width: 1980px) {
    .carousel {
         font-size: 56px;
    }
}